.weather-container {
  padding: 1rem;
}

.black-text {
  color: black;
}

.nav-buttons {
  margin-bottom: 1rem;
}

.nav-button {
  position: fixed;
  top: 10px;
  font-size: 40px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.home-button {
  right: 140px;
  color: black;
}

.fav-button {
  right: 70px;
  color: gold;
}

.weather-icon {
  margin: 10px 0;
}
